* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.validationTxt {
    font-size: 40px;
    color: red;
    text-align: center;
    margin: 20px 0px;
}


.addFileBlock {
    width: fit-content;
    margin: 150px auto 70px;
}

input {
    border: none;
    outline: none;
}

.addFileInp, .addTitleInp, .addColorInp {
    border: 1px solid black;
    font-size: 20px;
    padding: 5px 10px;
    margin: 10px 30px;
}

.addSubmitInp {
    font-size: 20px;
    padding: 6px 25px;
    margin: 0px 30px;
    background-color: darkgray;
}


.getBlock {
    width: fit-content;
    margin: 20px auto;
    padding: 5px;
}

.getImg {
    width: 45px;
    height: 30px;
}

.getForm {
    display: flex;
    align-content: center;
}

.getTitleInp, .getColorInp {
    font-size: 18px;
    padding: 5px 15px;
    margin: 0px 20px;
    border: 1px solid black;
    height: 25px;
}

.getAddInp, .getSubmitInp {
    font-size: 20px;
    padding: 0px 25px;
    margin: 0px 30px;
    background-color: darkgray;
    height: 25px;
}